
body, html{
    margin: 0;
    padding: 0;
}

.container {
    border:0;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    font-family: 'Futura-Bold';
}

#containerVideo{
    border:0;
    opacity: 1;
    max-width: 1200px;
    width: 100%;
    padding-bottom: 75px;
}

#containerVideo.showVideo{
    opacity: 1;
    height: auto;
    width: auto;
	min-height: 842px;
}

#containerVideo video{
    border:0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

#video-01{
    background-color: transparent;
}

.video-js {
    background-color: #4f2d7f;
    position: relative;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
    /* display: table-cell; */
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing:border-box;
    padding-top: 0;
    width: 100%!important;
}

.vjs-default-skin .vjs-control-bar {
    background-color: #EFEFEF!important;
}
.vjs-poster{
    background-color: transparent!important;
    background-position: center top!important;
}
.vjs-default-skin .vjs-big-play-button {
  width: 4em!important;
  height: 4em!important;
  top: 50%!important;
  left: 50%!important;
}

/* Video play button */.vjs-default-skin .vjs-big-play-button,
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus{
  /*background: url(http://pub.dev.cw-mccann.com/etc/designs/commonwealth/images/cw_site_masthead_play_button.png)!important;*/
  background: url(/etc/designs/commonwealth/images/cw_site_masthead_play_button.png)!important;
  border: 0!important;
  border-radius: 0!important;
  box-shadow: none!important;
  -moz-opacity: 1.00!important;
  opacity: 1!important;
  filter: alpha(opacity=100)!important;
}
.vjs-default-skin .vjs-big-play-button:before{
  content: none!important;
} 
/* Style for grid cells */

.rf-tgrid {
    color: #00748b;
    font-size: 50px;
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}


/* Style for the grid */

.rf-tablestyle {
    width: 100%;
}


/* Style for the div containing the grid */

#rf-searchgamecontainer {
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
}

#rf-searchgamecontainer p {
    color: #DBDBDB;
    margin: 0;
}

#rf-searchgamecontainer table {
    padding: 20px 0;
}

#rf-searchgamecontainer table td:hover {
    color: #d15357;
    cursor: pointer;
}

#rf-searchgamecontainer a {
    color: #d15357;
    text-decoration: none;
}

#rf-searchgamecontainer a:hover {
    text-decoration: underline;
}

.link {
    text-align: center;
}

.link a {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #d15357;
    text-decoration: none;
    cursor: pointer;
}

.link a:hover {
    text-decoration: underline;
}

@media (max-width: 1603px) {
     #rf-searchgamecontainer {
        padding: 60px 0 22px 0;
    }
    .rf-tgrid {
        font-size: 32px;
    }
	.rf-selected{
		-moz-transition: all 2s ease;
        -webkit-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
	}
}

@media (max-width: 1200px) {
    #rf-searchgamecontainer {
        padding: 40px 0 22px 0;
    }
    .rf-tgrid {
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    #rf-searchgamecontainer {
        padding: 40px 20px 22px 20px;
    }
    .title-p{
        font-size: 1.1em;
    }
}

@media (max-width: 900px) {
    .title-p{
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    #containerVideo{
        padding-bottom: 40px;
    }
    #rf-searchgamecontainer a,
    #rf-searchgamecontainer p {
        font-size: 16px;
    }
    #rf-searchgamecontainer {
        padding: 20px 0;
    }
    .rf-tgrid {
        font-size: 16px;
        padding: 5px 0;
    }
    #rf-searchgamecontainer table {
        padding: 20px 0;
    }
    .link a {        
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #rf-searchgamecontainer {
        padding: 10px 0px;
    }
    .rf-tgrid {
        font-size: 10px;
        padding: 2px 0;
    }
}


/* ------------------------------------------ */


/* Style for the div containing the word list */

#rf-wordcontainer {
    border: 2px solid gold;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    float: left;
    margin: 1em 1em 1em 0;
    padding-right: 50px;
    display: none;
}


/* Style for the words that have been found */

.rf-foundword {
    color: lightgray;
    font-style: italic;
    text-decoration: line-through;
}

#rf-tablegrid .rf-highlight {
    background: #DBDBDB;
}

#rf-tablegrid .rf-glowing {
    background: #DBDBDB;
}

#rf-tablegrid .rf-selected {
    background: #ffffff;
    color: #d15357;
}


/* style for words that didn't make it on the grid */

.rf-pfalse {
    color: #DBDBDB;
    visibility: hidden;
}


/*Old jquery.fancybox.css*/
